.home-page-wrapper {
  height: 80vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-welcome {
  font-family: "Readex Pro", sans-serif;
  font-size: 3rem;
  color: white;
  margin-top: 2rem;
}
